.about__title {
  margin-bottom: 50px;
  font-weight: 800;
  font-size: 46px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: #111518;
}
.about__flex-container {
  display: flex;
  width: 1317px;
}
.about__info {
  width: 579px;
  margin-left: 33px;
}
.about__title-list {
  padding-bottom: 15px;
  margin-bottom: 30px;

  font-weight: 800;
  font-size: 30px;
  line-height: 1.23;
  letter-spacing: 0.08em;
  color: #111518;

  border-bottom: 1px solid #b9b9b9;
}
.about__list-item {
  margin-bottom: 20px;

  &__list-item::before {
    content: '';
    display: inline-block;
    width: 27px;
    height: 20px;
    background-image: url(../images/about/check__about.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
.about__content {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.06em;

  color: #111518;
}
