.about {
  padding-top: 39px;
  padding-bottom: 50px;
}
.about__title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--dark-text-bg-color);
  margin-bottom: 20px;
}
.about__img {
  margin-bottom: 20px;
}
.about__title-list {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.08em;

  color: var(--dark-text-bg-color);

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: var(--grey-text-bg-color);
  }
}
.about__list-item {
  padding-bottom: 20px;

  &::before {
    content: '';
    display: inline-block;
    background-image: url(../images/icons.svg#icon-about-check);
    width: 45px;
    height: 32px;
    fill: var(--accent-color);
  }
}

.about__content {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.06em;

  color: var(--dark-text-bg-color);
}
.about__education {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.17;
  color: var(--grey-text-bg-color);
}
.about__line {
  margin: 20px 0 20px 0;
  width: 19px;
  height: 2px;
  border: none;
  background-color: var(--accent-color);
}
.about__certificate {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  text-decoration-line: underline;

  color: var(--accent-color);
}
