.advantages {
  padding-bottom: 50px;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.64;
  display: flex;
  align-items: center;
  letter-spacing: 0.08em;
  color: var(--dark-text-bg-color);
  width: 216px;

  &:not(:first-child) {
    margin-top: 30px;
  }
}

.advantages__icon-block {
  margin-right: 10px;
}

.advantages__icon {
  width: 59px;
  height: 60px;
}

// TABLET

@media screen and (min-width: 768px) {
  .advantages__list {
    flex-direction: row;
    justify-content: space-between;
  }

  .advantages__item {
    &:not(:first-child) {
      margin-top: 0;
      width: 210px;
    }
  }
}

// DESKTOP

@media screen and (min-width: 1366px) {
  .advantages {
    padding-top: 50px;
    padding-bottom: 130px;
  }

  .advantages__item,
  .advantages__item:not(:first-child) {
    font-size: 20px;
    width: 344px;
  }

  .advantages__icon {
    width: 100px;
    height: 102px;
  }

  .advantages__description {
    margin-left: -28px;
    margin-top: -4px;
  }
}
