.advantages__title {
    font-weight: 800;
    font-size: 58px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: var(--dark-text-bg-color);
}

.advantages__title--visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6 IE7 */
    clip: rect(1px 1px 1px 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.container__advant {
    background-color: #e5e5e5;
    margin: 0;
}

// ====================================================
// ====================================================
.advantages__box {
    margin: 0 auto;
    position: relative;
}

.advantages__list {
    margin: 0;
    // Mobile 480
    @media screen and (max-width: 767px) {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    // Tablet 768
    @media screen and (min-width: 768px) {
        justify-content: space-around;
        display: flex;
        height: 69px;
        width: 688px;
    }
    // Desctop 1366
    @media screen and (min-width: 1366px) {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
}

.advantages__item {
    @media screen and (max-width: 767px) {
        display: inline-flex;
        float: left;
    }
    @media screen and (max-width: 1365px) {
        display: inline-flex;
        justify-content: center;
        max-width: 216px;
    }
    @media screen and (min-width: 1366px) {
        position: relative;
        display: flex;
    }
}

.advantages__item:not(:last-child) {
    // Mobile 768
    @media screen and (max-width: 767px) {
        margin-bottom: 21px;
    }
    @media screen and (min-width: 1366px) {
        margin-right: 348px;
    }
}

.advantages__item::before {
    @media screen and (max-width: 1365px) {
        content: '';
        display: inline-block;
        vertical-align: middle;
        background-size: contain;
        background-repeat: no-repeat;
        min-width: 60px;
        height: 60px;
        margin-right: 16px;
    }
    @media screen and (min-width: 1366px) {
        content: '';
        position: absolute;
        display: inline-block;
        vertical-align: middle;
        background-size: contain;
        background-repeat: no-repeat;
        width: 15px;
        height: 74px;
        margin: auto;
        left: 65px;
        top: 45px;
        bottom: 0;
        min-width: 100px;
        height: 102px;
    }
}

// -===================---------------==================
//   // Tablet 768
//   @media screen and (min-width: 768px) {
//     flex-basis: calc((100% - 21px) / 3);
//     margin-bottom: 26px;
//   }
//   //Desktop >1366
//   @media screen and (min-width: 1366px) {
//     position: relative;
//   }
// }
.advantages__description {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.65;
    color: var(--dark-text-bg-color);
    // Desktop >1366
    @media screen and (min-width: 1366px) {
        top: 20px;
        left: 86px;
        font-size: 20px;
        line-height: 1.65;
    }
}

.advantages__item--student::before {
    @media screen and (max-width: 1365px) {
        background-image: url('../images/advant/adv-group1.svg');
    }
    @media screen and (min-width: 1366px) {
        background-image: url('../images/advant/adv-group1-desctop.svg');
    }
}

.advantages__item--mobilelearning::before {
    @media screen and (max-width: 1365px) {
        background-image: url('../images/advant/adv-group2.svg');
    }
    @media screen and (min-width: 1366px) {
        background-image: url('../images/advant/adv-group2-desctop.svg');
    }
}

.advantages__item--insurance::before {
    @media screen and (max-width: 1365px) {
        background-image: url('../images/advant/adv-group3.svg');
    }
    @media screen and (min-width: 1366px) {
        background-image: url('../images/advant/adv-group3-desctop.svg');
    }
}