.benefits {
  &__section {
    @media screen and (max-width: 767px) {
      padding-top: 0;
      padding-left: 15%;
      padding-bottom: 50px;
      background-image: linear-gradient(
        to bottom,
        var(--dark-text-bg-color) 65%,
        var(--white-text-bg-color) 65%
      );
    }
    @media screen and (min-width: 768px) and (max-width: 1365px) {
      padding-top: 50px;
      padding-bottom: 50px;
      background-image: linear-gradient(
        to bottom,
        var(--dark-text-bg-color) 50%,
        var(--white-text-bg-color) 50%
      );
    }
    @media screen and (min-width: 1366px) {
      padding: 0 auto;
      background-image: linear-gradient(
        to bottom,
        var(--dark-text-bg-color) 50%,
        var(--white-text-bg-color) 50%
      );
    }
  }

  &__title {
    margin-bottom: 30px;

    font-weight: 800;
    font-size: 20px;
    line-height: 1.35;
    letter-spacing: 0.03em;
    color: var(--white-text-bg-color);
    @media screen and (max-width: 767px) {
      max-width: 180px;
    }
    @media screen and (min-width: 768px) and (max-width: 1365px) {
      margin-bottom: 60px;
      text-align: center;
      font-size: 26px;
      line-height: 1.31;
    }
    @media screen and (min-width: 1366px) {
      display: none;
    }
  }
  &__list {
    position: relative;
    z-index: 1;
    background-color: var(--white-text-bg-color);
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
    counter-reset: item;
    @media screen and (max-width: 767px) {
      padding-top: 20px;
      padding-left: 30px;

      padding-bottom: 4px;
    }
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
    }
    @media screen and (min-width: 768px) and (max-width: 1365px) {
      padding-left: 108px;
      padding-right: 108px;
      padding-top: 30px;
      padding-bottom: 21px;
    }
    @media screen and (min-width: 1366px) {
      padding: 70px 82px;
    }
  }
  &__item {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.71;
    color: var(--dark-text-bg-color);

    @media screen and (min-width: 768px) and (max-width: 1365px) {
      width: 225px;

      margin-bottom: 22px;
      &:nth-child(n + 5) {
        margin-bottom: 0;
      }
    }
    @media screen and (min-width: 1366px) {
      font-size: 20px;
      line-height: 1.2;
      width: 356px;
      margin-bottom: 32px;
      &:nth-child(n + 5) {
        margin-bottom: 0;
      }
    }
  }

  &__item:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 28px;
    }
  }

  &__item::before {
    display: block;
    margin-bottom: 10px;
    counter-increment: item;
    content: '— ' counter(item, decimal-leading-zero) ' ';
    line-height: 1.21;
    color: var(--accent-color);
    @media screen and (min-width: 1366px) {
      margin-bottom: 10px;
    }
  }
}
