.benefits {
  &__title {
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.35;
    letter-spacing: 0.03em;
    color: black;

    // color: var(--white-text-bg-color);
  }
  &__list {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 14px;
    padding-bottom: 4px;
    font-weight: 700;
    font-size: 14px;
    background-color: var(--white-text-bg-color);
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
    counter-reset: section;
  }
  &__item {
    line-height: 1.71;
    color: var(--dark-text-bg-color);
  }
  &__item:not(:last-child) {
    margin-bottom: 28px;
  }
  &__item::before {
    display: block;
    margin-bottom: 18px;
    counter-increment: section;
    content: '— 0' counter(section) ' ';
    line-height: 1.21;
    color: var(--accent-color);
  }
}
