.footer {
    text-align: center;
}

.footer-padding {
padding-top: 30px;
padding-bottom: 30px;
}

.footer_logo {
margin-bottom: 18px;
}

.footer_contact {
display: flex;
justify-content: center;
}

.footer_phone {
margin-right: 10px ;
}

.contact-link {
    margin: auto 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.08em;
    color: #111518;
}

.footer_instagram {
background-image: url(../images/icons.svg#icon-instagram);
}

.footer_bg {
    background-color: var(--dark-text-bg-color);
    padding-top: 21px;
    padding-bottom: 21px;
}

.footer_rights {

}