.header{
   display: flex;
   margin-top: 30px;
   margin-bottom: 43px;
   &__list{
      display: flex;
      margin-right: 60px;
   }
   &__item{
      font-weight: bold;
      font-size: 14px;
      line-height: 1.21;
      display: flex;
      align-items: center;
      text-align: center;
      text-transform: uppercase;
      cursor: pointer;
      color: var(--grey-text-bg-color);
      &:not(:last-child) {
         margin-right: 40px;
      }
      &:focus,
      &:hover {
         color: var(--accent-color);
      }    
   }   
   &__button{
      font-weight: bold;
      font-size: 14px;
      line-height: 1.21;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.14em;
      text-transform: uppercase;
      color: var(--accent-color);
      padding: 26px  23px;
      border-style: solid;
      border-width: 2px;
      border-color: var(--accent-color);
      background-color: transparent;
      cursor: pointer;
   }
}
.container__logo{
   display: flex;
   align-items: center;
}
.logo{
   &__header{
      margin-right: 144px;
   }
}
.close-button{
   position: absolute;
   top: 59px;
   right: 43px;
   &__icon{
      fill: #000000;
   }
}
.mobile-menu.is-open {
   opacity: 1;
   visibility: visible;
   pointer-events: auto;
   -webkit-transform: translateX(0);
           transform: translateX(0);
 }