.program {
  background-color: var(--dark-text-bg-color);
  padding-top: 50px;
  padding-bottom: 50px;
}

.program__title {
  text-align: center;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--white-text-bg-color);
}

.program__list {
  margin-top: 40px;
  padding-left: 30%;
  display: flex;
  flex-direction: column;
}

.program__list-item {
  position: relative;

  &::before {
    position: absolute;
    left: -20px;
    top: 7px;
    content: '';
    height: 100%;
    border-left: 1px solid var(--white-text-bg-color);
  }

  &::after {
    position: absolute;
    top: 7px;
    left: -26px;
    content: '';
    border-radius: 50%;
    display: inline-block;
    height: 13px;
    width: 13px;
    text-align: center;
    line-height: 24px;
    background: var(--accent-color);
    z-index: 1;
  }

  &:last-of-type::before {
    border: none;
  }

  &:not(:last-child) {
    padding-bottom: 40px;
  }
}

.program__list-item__topic-item {
  width: 176px;
}

.program__list-item__heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--white-text-bg-color);
  margin-bottom: 5px;
}

.program__list-item__topic {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.64;
  letter-spacing: 0.08em;
  color: var(--accent-color);
  margin-bottom: 5px;
}

.program__list-item__description {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.08em;
  color: var(--grey-text-bg-color);
  opacity: 0.5;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .program__title {
    text-align: left;
    font-size: 26px;
  }

  .program__list {
    padding-left: 15%;
  }

  .program__list-item {
    &::before {
      left: -50px;
    }

    &::after {
      left: -56px;
    }

    &:not(:last-child) {
      padding-bottom: 30px;
    }
  }

  .program__list-item__topic-list {
    display: flex;
  }

  .program__list-item__topic-item {
    width: 162px;

    &:not(:first-child) {
      margin-left: 50px;
    }
  }

  @media screen and (min-width: 1366px) {
    .program {
      padding-top: 120px;
      padding-bottom: 120px;
    }

    .program__title {
      font-size: 46px;
    }

    .program__list {
      flex-direction: row;
      justify-content: space-between;
      padding-left: 0;
      margin-top: 180px;
    }

    .program__list-item__topic-list {
      flex-direction: column;
    }

    .program__list-item {
      &::before {
        top: -70px;
        height: 1px;
        width: 200vw;
        left: -100vw;
        border-bottom: 1px solid var(--white-text-bg-color);
      }

      &::after {
        top: -78px;
        left: -3px;
        height: 17px;
        width: 17px;
      }
    }

    .program__list-item__heading {
      font-size: 30px;
    }

    .program__list-item__topic-item {
      width: 240px;
      margin-top: 25px;

      &:not(:first-child) {
        margin-left: 0;
      }
    }

    .program__list-item__topic {
      font-size: 20px;
    }

    .program__list-item__description {
      font-size: 18px;
    }
  }
}
