:root {
    --accent-color:#FF6B09;
    --primary-bg-color: #E5E5E5;
    --dark-text-bg-color: #111518;
    --grey-text-bg-color: #b9b9b9;
    --white-text-bg-color: #FFFFFF;
    --transition-duration: 250ms;
    --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}