<section class="advantages">
  <div class="container">
    <ul class="advantages__list">
      <li class="advantages__item">
        <span class="advantages__icon-block">
          <svg class="advantages__icon" width="59" height="60">
            <use href="./images/icons.svg#icon-advantages-program"></use>
          </svg>
        </span>
        <span class="advantages__description">Adapted author's UPE program</span>
      </li>
      <li class="advantages__item">
        <span class="advantages__icon-block">
          <svg class="advantages__icon" width="59" height="60">
            <use href="./images/icons.svg#icon-advantages-methods"></use>
          </svg>
        </span>
        <span class="advantages__description">Modern teaching methods</span>
      </li>
      <li class="advantages__item">
        <span class="advantages__icon-block">
          <svg class="advantages__icon" width="59" height="60">
            <use href="./images/icons.svg#icon-advantages-result"></use>
          </svg>
        </span>
        <span class="advantages__description">Financial guarantee the result</span>
      </li>
    </ul>
  </div>
</section>
