<section class="section contacts-section">
    <div class="container">
        <h2 class="contacts-title">Registration for a <span class="contacts-title__accent">free</span> phone <span class="contacts-title__accent">consultation</span> on the nuances of English UPE</h2>
        <form class="contacts-form">
            <p class="contacts-form__title">Leave a request for participation in a <span class="contacts-form__accent">free lesson</span>. <br> A consultant will contact you and answer your questions</p>
            <label>
                <input class="contacts-form__input contacts-form__input--mb" type="text" name="user-name" placeholder="Name*" minlength="2" required>
            </label>
            <label>
                <input class="contacts-form__input" type="tel" name="user-tel-number" placeholder="Phone*" required>
            </label>
            <button class="contacts-form__button" type="submit">i want a free lesson</button>
        </form>
    </div>
</section>