<footer class="footer">
    <div class="container footer_section">
        <svg width="85" height="30" class="footer_logo">
            <use href="./images/icons.svg#icon-logo"></use>
        </svg>

        <div class="footer_contact">
            <div class="footer_phone">
                <svg width="20" height="20" class="footer_icon">
                    <use href="./images/icons.svg#icon-phone-number"></use>
                </svg>
                <a class="contact-link" href="tel:+38(000)0000000">+38 (000) 000 00 00</a>    
             </div>
    
             <a href="#" target="_blank" class="footer_instagram"></a>    
        </div>
    </div>

    <div class="footer_bg">
        <p class="container footer_rights">&#x00040; All rights reserved, 2019 </p>
    </div>

</footer>