<footer class="footer">
    <div class="container footer-padding">
        <svg width="85" height="30" class="footer_logo">
            <use href="./images/icons.svg#icon-logo-footer"></use>
        </svg>

        
         <div class="footer_contact">
            <svg width="20" height="19" class="footer_phone">
                <use href="./images/icons.svg#icon-phone-number"></use>
            </svg>
    
            <a class="contact-link" href="tel:+38 (000) 000 00 00">+38 (000) 000 00 00</a>    
         </div>

         <a href="#" class="footer_instagram"></a>
    </div>

    <div class="footer_bg">
        <p class="footer_rights">&#x00040 All rights reserved, 2019 </p>
    </div>

</footer>