<header class="header">
   <div class="container container__logo">
      <a class="logo logo__header" href="#">
         <svg width="128" height="45" aria-label="logo">
            <use class="logo__icon" href="./images/icons.svg#icon-logo"></use>
         </svg>
      </a>
      <nav class="header__navigation">
         <ul class="header__list">
            <li class="header__item">studying program</li>
            <li class="header__item">about</li>
            <li class="header__item">training options</li>
            <li class="header__item">contacts</li>
         </ul>
         <button class="header__button" type="button">consultation by phone</button>
            <!-- mobile button menu start -->
         <button class="menu-button" type="button" data-menu-button>
            <svg width="24" height="16" aria-label="mobile menu">
               <use class="menu-button-icon" href="./images/icons.svg#menu"></use>
            </svg>
         </button>
         <div class="mobile-menu" data-menu>
            <div class="container mobile-menu__container">
               <button class="close-button" type="button" data-menu-close>
                  <svg width="24" height="16" aria-label="mobile close menu">
                     <use  class="close-button__icon" href="./images/icons.svg#icon-close-button"></use>
                  </svg>
               </button>
               <ul class="mobile-menu__list">
                  <li class="mobile-menu__item">
                     <a href="#" class="mobile-menu__link">studying program</a>
                  </li>
                  <li class="mobile-menu__item">
                     <a href="#" class="mobile-menu__link">about</a>
                  </li>
                  <li class="mobile-menu__item">
                     <a href="#" class="mobile-menu__link">training options</a>
                  </li>
                  <li class="mobile-menu__item">
                     <a href="#" class="mobile-menu__link">contacts</a>
                  </li>
               </ul>
            </div>
         </div>
         <!-- mobile button menu end -->
      </nav>
   </div>
</header>
