<header class="header">
   <div class="container container__logo">
      <a class="logo logo__header" href="#">
         <svg width="128" height="45" aria-label="logo">
            <use class="logo__icon" href="./images/icons.svg#icon-logo"></use>
         </svg>
      </a>
      <nav class="header__navigation">
         <ul class="header__list">
            <li class="header__item">studying program</li>
            <li class="header__item">about</li>
            <li class="header__item">training options</li>
            <li class="header__item">contacts</li>
         </ul>
      </nav>
      <button class="header__button" type="button">consultation by phone</button>
   </div>
</header>
