<!-- HERO -->
<!-- <section class="section">
  <div class="container hero">
    <div class="hero__content">
      <h1 class="hero__title">Complex preparation for English UPE</h1>
      <p class="hero__description">
        <span class="hero__description--grey"> It won’t be easy.</span>
        <span class="hero__description--accent">But you are guaranteed to get</span>
        <span class="hero__description--orange">+25 points</span>
      </p>
      <button data-modal-open class="hero__button" type="button">I WANT A FREE LESSON</button>
    </div>
    <div class="hero__image"> -->
      <!-- mobile resolution -->
      <picture>
        <!-- <source srcset="/images/hero/hero-mobile.png 1x, /images/hero/hero-mobile@2x.png 2x" -->
        <!-- media="(max-width: 767px)"> -->
        <!-- tablet resolution -->
        <!-- <source srcset="/images/hero/hero-tablet.png 1x, /images/hero/hero-tablet@2x.png 2x" -->
        <!-- media="( max-width: 1365px)"> -->
        <!-- desktop resolution -->
        <!-- <source srcset="/images/hero/hero-desctop.png 1x, /images/hero/hero-desctop@2x.png 2x" -->
        <!-- media="(min-width: 1366px)"> -->
        <!-- <img src="#" alt="a lesson is going"> -->
      </picture>
    </div>
  </div>
</section>
