<section class="hero">
  <div class="container">
    <ul class="hero__content-list">
      <li class="hero__content-item hero__content-item-first">
        <h1 class="hero__content-item__heading">Complex preparation for English UPE</h1>
        <p class="hero__content-item__description">It won’t be easy.</p>
        <p class="hero__content-item__description">
          But you’re are guaranteed to get <span class="--accent-color">+25 points</span>
        </p>
        <a href="#contacts" class="hero__button">I want a free lesson</a>
      </li>
      <li class="hero__content-item"></li>
    </ul>
  </div>
</section>
