<section class="program overflow-hidden">
  <div class="container">
    <h2 id="program" class="program__title">Our program</h2>
    <ul class="program__list">
      <li class="program__list-item">
        <h3 class="program__list-item__heading">1 semester</h3>
        <ul class="program__list-item__topic-list">
          <li class="program__list-item__topic-item">
            <h4 class="program__list-item__topic">— Grammar</h4>
            <p class="program__list-item__description">Nouns & Articles Adjectives & Adverb</p>
          </li>
          <li class="program__list-item__topic-item">
            <h4 class="program__list-item__topic">— Vocabulary</h4>
            <p class="program__list-item__description">
              Family & Relations <br />
              People & Society
            </p>
          </li>
        </ul>
      </li>
      <li class="program__list-item">
        <h3 class="program__list-item__heading">2 semester</h3>
        <ul class="program__list-item__topic-list">
          <li class="program__list-item__topic-item">
            <h4 class="program__list-item__topic">— Grammar</h4>
            <p class="program__list-item__description">
              Pronoun <br />
              Active Voice <br />
              Passive Voice
            </p>
          </li>
          <li class="program__list-item__topic-item">
            <h4 class="program__list-item__topic">— Vocabulary</h4>
            <p class="program__list-item__description">
              Home <br />
              School <br />
              Work
            </p>
          </li>
        </ul>
      </li>
      <li class="program__list-item">
        <h3 class="program__list-item__heading">3 semester</h3>
        <ul class="program__list-item__topic-list">
          <li class="program__list-item__topic-item">
            <h4 class="program__list-item__topic">— Grammar</h4>
            <p class="program__list-item__description">
              Modal verbs <br />
              Infinitive <br />
              Gerund <br />
              Participle: 1, 2
            </p>
          </li>
          <li class="program__list-item__topic-item">
            <h4 class="program__list-item__topic">— Vocabulary</h4>
            <p class="program__list-item__description">
              Travel & Tourism <br />
              Culture & Free Time <br />
              Sport
            </p>
          </li>
          <li class="program__list-item__topic-item">
            <h4 class="program__list-item__topic">— Writing</h4>
            <p class="program__list-item__description">Informal Letter</p>
          </li>
        </ul>
      </li>
      <li class="program__list-item">
        <h3 class="program__list-item__heading">4 semester</h3>
        <ul class="program__list-item__topic-list">
          <li class="program__list-item__topic-item">
            <h4 class="program__list-item__topic">— Grammar</h4>
            <p class="program__list-item__description">
              Clauses: Conditional and Wishes <br />
              Direct / Reported speech <br />
              Preposition <br />
              Conjunction <br />
              Numeral
            </p>
          </li>
          <li class="program__list-item__topic-item">
            <h4 class="program__list-item__topic">— Vocabulary</h4>
            <p class="program__list-item__description">
              Healthy Living <br />
              Nature & Environment <br />
              Money
            </p>
          </li>
          <li class="program__list-item__topic-item">
            <h4 class="program__list-item__topic">— Writing</h4>
            <p class="program__list-item__description">Formal Letter</p>
          </li>
        </ul>
      </li>
      <li class="program__list-item">
        <h3 class="program__list-item__heading">5 semester</h3>
        <ul class="program__list-item__topic-list">
          <li class="program__list-item__topic-item">
            <h4 class="program__list-item__topic">—</h4>
            <p class="program__list-item__description">
              Revision <br />
              Tests
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
