<section class="program">
  <div class="container overflow-hidden">
    <h2 class="program__title">Our program</h2>
    <ul class="program__list">
      <li class="program__list-item">
        <h3 class="program__list-item__heading">1 semester</h3>
        <h4 class="program__list-item__topic">— Grammar</h4>
        <p class="program__list-item__description">
          Nouns & Articles <br />
          Adjectives & Adverb
        </p>
        <h4 class="program__list-item__topic">— Vocabulary</h4>
        <p class="program__list-item__description">
          Family & Relations <br />
          People & Society
        </p>
      </li>
      <li class="program__list-item">
        <h3 class="program__list-item__heading">2 semester</h3>
        <h4 class="program__list-item__topic">— Grammar</h4>
        <p class="program__list-item__description">
          Pronoun <br />
          Active Voice <br />
          Passive Voice
        </p>
        <h4 class="program__list-item__topic">— Vocabulary</h4>
        <p class="program__list-item__description">
          Home <br />
          School <br />
          Work
        </p>
      </li>
      <li class="program__list-item">
        <h3 class="program__list-item__heading">3 semester</h3>
        <h4 class="program__list-item__topic">— Grammar</h4>
        <p class="program__list-item__description">
          Modal verbs <br />
          Infinitive <br />
          Gerund <br />
          Participle: 1, 2
        </p>
        <h4 class="program__list-item__topic">— Vocabulary</h4>
        <p class="program__list-item__description">
          Travel & Tourism <br />
          Culture & Free Time <br />
          Sport
        </p>
        <h4 class="program__list-item__topic">— Writing</h4>
        <p>Informal Letter</p>
      </li>
      <li class="program__list-item">
        <h3 class="program__list-item__heading">4 semester</h3>
        <h4 class="program__list-item__topic">— Grammar</h4>
        <p class="program__list-item__description">
          Clauses: Conditional and Wishes <br />
          Direct / Reported speech <br />
          Preposition <br />
          Conjunction <br />
          Numeral
        </p>
        <h4 class="program__list-item__topic">— Vocabulary</h4>
        <p class="program__list-item__description">
          Healthy Living <br />
          Nature & Environment <br />
          Money
        </p>
        <h4 class="program__list-item__topic">— Writing</h4>
        <p class="program__list-item__description">Formal Letter</p>
      </li>
      <li class="program__list-item">
        <h3 class="program__list-item__heading">5 semester</h3>
        <h4 class="program__list-item__topic">—</h4>
        <p class="program__list-item__description">
          Revision <br />
          Tests
        </p>
      </li>
    </ul>
  </div>
</section>
