<section class="section">
    <div class="container">
        <h2>Feedback from graduates</h2>
        <article>
            <picture>
                <source srcset="./images/reviews/reviews1-mob@1x.jpg 1x, ./images/reviews/reviews1-mob@2x.jpg 2x" media="(max-width: 767px)">
                <img src="#" alt="Тоня Кучеровская">
            </picture>
            <a href="">
                <svg width="30px" height="30px">
                    <use href="./images/icons.svg#icon-vk"></use>
                </svg>
            </a>
            <h3>Tonya Kucherovskaya</h3>
            <p>Graduated from 2015, National University of Bioresources
            and natural history of Ukraine</p>
            <p>In a short time with Elena, I mastered grammar and replenished my completely empty vocabulary. From the first lesson I
            realized that I was on my plate. Elena and I became friends because she was really worried about my success. She became
            an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that I'm
            student ... <a href="">Read more</a> </p>
        </article>
        <ul>
            <li>
                <picture>
                    <source srcset="./images/reviews/reviews2-mob@1x.jpg 1x, ./images/reviews/reviews2-mob@2x.jpg 2x"
                        media="(max-width: 767px)">
                    <img src="#" alt="Выпускница курсов">
                </picture>
            </li>
            <li>
                <picture>
                    <source srcset="./images/reviews/reviews3-mob@1x.jpg 1x, ./images/reviews/reviews3-mob@2x.jpg 2x"
                        media="(max-width: 767px)">
                    <img src="#" alt="Выпускница курсов">
                </picture>
            </li>
            <li>
                <picture>
                    <source srcset="./images/reviews/reviews4-mob@1x.jpg 1x, ./images/reviews/reviews4-mob@2x.jpg 2x"
                        media="(max-width: 767px)">
                    <img src="#" alt="Выпускница курсов">
                </picture>
            </li>
        </ul>
    </div>
</section>